{% extends 'base.html.twig' %}

{% block title %}Mon Compte | Alice CRM{% endblock %}

{% block body %}

    <h1>Mon compte : A-t-on vraiment d'une page comme celle-ci ? </h1>

    <p>Bonjour {{ app.user.firstname }}.</p>





{% endblock %}
