{% extends 'base.html.twig' %}

{% block title %}Mon Compte | Alice CRM{% endblock %}

{% block body %}

        <div class="d-flex align-items-center justify-content-between mb-5">
        <h1>Mon compte : A-t-on vraiment d'une page comme celle-ci ? </h1>
        <img src="{{ asset('assets/img/VectorBack.png') }}" class="goBack" alt="Retour" onclick="window.history.back();"></img>
    </div>


    <p>Bonjour {{ app.user.firstname }}.</p>





{% endblock %}
