{% extends 'base.html.twig' %}

{% block title %}CRM Alice | Modifier mon mot de passe{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

    <h3>Modifier mon mot de passe</h3>
	<a href=" {{ path('app_home')}} ">Retourner à l'accueil</a><br>

	<hr>

    <div class="form mt-3 mt-lg-0">

		{% if notificationOk %}
			<div class="alert alert-info">{{ notificationOk }}</div>
		{% endif %}
		{% if notificationError %}
			<div class="alert alert-danger">{{ notificationError }}</div>
		{% endif %}


		{{ form(form) }}

	</div>

    
{% endblock %}