{% extends 'base.html.twig' %}

{% block title %}CRM Alice | Accueil{% endblock %}

{% block body %}

{# message flash d'inscription réussie #}
{% for message in app.flashes('notice') %}
    <div class="flash-notice alert">
        {{ message }}
    </div>
{% endfor %}

    

{# Page accueil #}

<h4>Bonjour {{ app.user.firstname|capitalize }}.</h4>

<div class="container text-center">

    <div class="d-flex flex-column flex-md-row justify-content-evenly justify-content-lg-end my-4">
        <a href=" {{ path('app_account_password')}} " class="btn btn-alice btn-block mx-lg-2">modifier mon mot de passe</a>
        <a href="#" class="btn btn-alice btn-block mx-lg-2">déposer un document</a>
        <a href="#" class="btn btn-alice btn-block mx-lg-2">Écrire à Antoine</a>
    </div>

    <div class="row grid-alice">

        {% if is_granted('ROLE_ADMIN') %}
            <div class="my-auto bg-primary">
                <p class="fs-3">Calendrier Google Calendar</p>
                <div id="calendar" class="col-12 bg-primary-subtle">
                    {# Fonctionnalité GOOGLE CALENDAR #}
                </div>
            </div>
        {% endif %}



        <div class="my-auto bg-danger">
            <p class="fs-3">Documents</p>
            <div id="documents" class="bg-danger-subtle">
                {# Affichage des documents #}
            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="my-auto bg-success">
                <p class="fs-3">Statistiques</p>
                <div id="graphic" class="col-12 bg-success-subtle">
                    {# Fonctionnalité Graphique #}
                    {# <canvas class="mb-3 border" id="myChart" width="900" height="380"></canvas> #}
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <div class="my-auto bg-info">
                <p class="fs-3 text-center">Analyse Financière</p>
                <div id="statistics" class="col-12 bg-info-subtle">
                    {# Affichage du tableau des stats #}
                </div>
            </div>
        {% endif %}


            {# Affichage des notifications #}

        <div id="notifications" class="">
            <table class="table table-hover table-alice">
                <p class="fs-3">Notifications</p>
                <tr>
                    <th>Date</th>
                    <th>Message</th>
                </tr>
                {# for each notifications #}
                <tr class="tr-alice">
                    <td>12/03/2022</td>
                    <td>Nouveau documents</td>
                </tr>
                <tr class="tr-alice">
                    <td>15/03/2023</td>
                    <td>Date prochaine Ech Exemple</td>
                </tr>
                {# {% endfor %} #}
            </table>
        </div>

    </div>

</div>



{% endblock %}