<h1>Bonjour !</h1>

<p> Pour réinitialiser votre mot de passe, merci de suivre le lien.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}" class="hover-link">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>À tout de suite !!</p>
