{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe | Alice CRM{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    

    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1>Réinitialiser votre mot de passe</h1>
                <div class="button-go-back" alt="Retour page précédente" onclick="window.history.back();">
            <i class="fa-sharp fa-solid fa-circle-chevron-left fa-2xl"></i>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div class="my-3">
                Entrez votre email et nous vous enverrons un mail avec un lien pour réinitialiser votre mot de passe.
            </div>

            <button class="btn btn-alice-form">Envoyer l'email de réinitialisation</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
