{% extends 'base.html.twig' %}

{% block title %}Modifier la note | Alice CRM{% endblock %}

{% block body %}

<h1>Rédaction d'une note</h1>
    <div class="mt-5">
        {{ form_start(form) }}
        {{ form_row(form.content) }}
        {{ form_end(form) }}


    </div>

{% endblock %}
