{% extends 'base.html.twig' %}

{% block title %}New DynamicContent{% endblock %}

{% block body %}
    <h1>Create new DynamicContent</h1>

    {{ include('dynamic_content/_form.html.twig') }}

    <a href="{{ path('app_dynamic_content_index') }}">back to list</a>
{% endblock %}
