{% extends 'base.html.twig' %}

{% block title %}Contrat Détail | Alice CRM{% endblock %}

{% block body %}
    <h1>Vue Contrat </h1>
    TODO : Résoudre de soucis avec la vue du contrat
{% endblock %}