{% extends 'base.html.twig' %}

{% block title %}Hello AdminMainController!{% endblock %}

{% block body %}

<h1>templates/admin_main/index.html.twig</h1>
<a href=" {{ path('app_customer_list') }} "></a>
{% endblock %}
