{% extends 'base.html.twig' %}

{% block title %}CRM Alice | Modifier un contact{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}

<h3 class="mb-5">Modification d'un contact</h3>

    <h5 class="m-2">Utilisateur lié : {{ user.firstname|capitalize }} {{ user.lastname|upper }} </h5>
        
        {% if customer %}
            <h5 class="m-2 mb-5">Client lié : {{ customer.name|upper }} </h5>
        {% else %}
            <h5 class="m-2 mb-5">Ce contact n'est pas lié à un client </h5>
        {% endif %}



<div class="form mt-3 mt-lg-0">

    {{ form(form) }}

</div>

{% endblock %}