{% for message in app.flashes('success') %}
    
    <div class="alert alert-success alert-dismissible fade show" role="success">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    </div>

{% endfor %}

{% for message in app.flashes('alert') %}
    

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    </div>

{% endfor %}

{% for message in app.flashes('notice') %}
    

    <div class="alert alert-info alert-dismissible fade show" role="notice">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
    </div>

{% endfor %}