<header class="navbar navbar-alice sticky-top flex-md-nowrap p-0">

        <a class="navbar-brand navbar-brand-alice col-md-3 col-lg-2 me-0 px-3" href="{{ path('app_home') }}">

            <img src=" {{ asset('assets/img/logo.png') }}" alt="Logo ALICE" id="logo-alice" class="image-fluid">

        </a>

        <button class="navbar-toggler navbar-toggler-alice position-absolute d-lg-none collapsed mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">


            <i class="fa-regular fa-bars fa-2xl" style="color: #4c9ebd;"></i>

        </button>

</header>
