*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif !important;
    color: #19374D !important;
    overflow-y: auto !important;
    background-color: #FAFAFF;
}


/********************** < Injection Bootstrap pout le graphique et la nav */


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

/********************** < Injection Bootstrap pout le graphique et la nav >  */

/*
* LOGO Alice
*/

.logo-alice {
    max-width: 100%;
    height: auto;
}


/*
* personalisation de la NAVBAR 
*/

.navbar-brand{
    max-width: 220px;
}

.navbar-brand-alice{
    background-color: #19374D !important;
}


/*
* Nav Bar md et -
*/

@media screen and (max-width: 991px) {
    .navbar-alice{
        background-color: #19374D !important;
    }    
}



/* 
* Personnalisation du bouton toggler(menu) présent sur ecran md et - 
*/

.navbar-toggler-alice {
    border: none;
    height: 50px;
    width: 60px;
    margin: auto 10px;
    transition: opacity 0.3s ease-out !important;
}

.navbar-toggler-alice:focus {
    box-shadow: none;
}

.navbar-toggler-alice:hover {
    opacity: 0.5;
}




/* 
* Personnalisation de SIDEBAR 
*/

#sidebarMenu {
    background-color: #19374D !important;
    max-width: 220px;
    min-width: 180px;
    padding: 50px 1%;
}

.sidebar-sticky-alice{
    padding-top: 80px;
}

.nav-item-alice {
    display: flex;
    
    border-radius: 5px;
    transition: background-color 0.5s ease-out !important;
}

.nav-item-alice:hover {
    background-color: #4C9EBD;
    color: #19374D !important;
}

.nav-link-alice {
    display: flex !important;
    align-items: center;
    color: #4C9EBD !important;
    text-transform: uppercase;
    transition: none;
    width: 100%;
    padding: 5px 1px;
}
.nav-link-alice:hover{
    color: #19374D !important;
}

.nav-link-alice img {
    width: 25px;
    height: 28px;
}

.nav-link-alice span {
    display: flex;
    align-items: center;
    padding: 10px;
}


/* 
* Nom de la personne connectée 
*/

.user-auth hr{
    margin: 10px auto;
    color: #4C9EBD;
    width: 90%;
    opacity: 1;
}

.user-auth p{
    color: #4C9EBD;
    width: 90%;
    margin: 0 auto 10px;
    text-transform: capitalize;
}





/**************************** Container Main partie droite */

main{
    overflow: scroll !important;
}

/*
* Systeme grid de la section main
*/

.grid-alice{
    padding: 0 !important;
    margin: 0 !important;
}

#calendar, #documents, #graphic, #statistics{
    height: 100px;
    width: 100%;

}

/*
* Formulaire d'inscription
*/

@media screen and (min-width: 1450px) {
    .form{
        margin-right: 5%;
    }    
}

.fullname input, .email input, .password input{
    background-color: rgba(76, 158, 189, .3) !important;
}

.fullname input::placeholder, .email input::placeholder, .password input::placeholder {
    color: #19374D;
    opacity: 0.7;
}

#register_submit{
    background-color: #19374D;
    color: #FAFAFF ;
    font-size: large;
    margin: 10px 0;
    width: 20%;
}

/*
* Formumaire de connexion
*/

.form-login {
    margin: 0 2% !important;
}