{% extends 'base.html.twig' %}

{% block title %}Confirmation envoi Email | Alice CRM{% endblock %}


{% block body %}


        <h3>Un email vous à été envoyé.</h3>
        <p>Un email vous a été envoyé à l'adresse que vous avez renseigné.</p>

        <p>Merci de suivre les indications afin de confirmer votre Email.</p>

        <p>A tout de suite sur <strong> Alice_CRM</strong>.</p>

{% endblock %}
