{% extends 'base.html.twig' %}

{% block title %}Modification Document | Alice_CRM{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1>Modification de Document</h1>
                <img src="{{ asset('assets/img/VectorBack.png') }}" class="goBack" id="goBackBtn" alt="Retour" onclick="window.history.back();"></img>
    </div>

    <div class="d-flex flex-column align-items-center flex-sm-row justify-content-sm-center justify-content-lg-end me-3">
        {{ include('document/_delete_form.html.twig') }}
    </div>

    <div class="form">
        {{ include('document/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>

{% endblock %}
