{% extends 'base.html.twig' %}

{% block title %}Modification Document | Alice_CRM{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1>Modification de Document</h1>
                <div class="button-go-back" alt="Retour page précédente" onclick="window.history.back();">
            <i class="fa-sharp fa-solid fa-circle-chevron-left fa-2xl"></i>
        </div>
    </div>

    <div class="form">
        {{ include('document/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>

{% endblock %}
