{% extends 'base.html.twig' %}

{% block title %}Nouveau Document | Alice CRM{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <div class="d-flex align-items-center justify-content-between mb-5">
        <h1>Télécharger un nouveau document</h1>
                <img src="{{ asset('assets/img/VectorBack.png') }}" class="goBack" id="goBackBtn" alt="Retour" onclick="window.history.back();"></img>
    </div>

    <div class="form">
        {{ include('document/_form.html.twig') }}
    </div>

{% endblock %}
