<form method="post" action="{{ path('app_tariff_zone_delete', {'id': tariff_zone.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette zone tarifaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete_tariffZone' ~ tariff_zone.id) }}">
    <button class="btn btn-alice-supp mx-2">Supprimer</button>
</form>
