{% extends 'base.html.twig' %}

{% block title %}Nouvel Zone Tarifaire | Alice CRM{% endblock %}


{% block body %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

    <div class="d-flex align-items-center justify-content-between mb-3">
        <h1>Création d'une nouvelle zone tarifaire</h1>
        <div class="button-go-back" alt="Retour page précédente" onclick="window.history.back();">
            <i class="fa-sharp fa-solid fa-circle-chevron-left fa-2xl"></i>
        </div>
    </div>
        
    <div class="form mt-3">
        {{ include('tariff_zone/_form.html.twig') }}
    </div>
{% endblock %}
